*
!.gitignore
!*.md
!*.py
!*README*
!*.R
!*.Rmd
!*.r
!*.rmd
!*.sh
!*.yml
!*.yaml
!Snakefile
!*.smk
!*.svg
!*/
node_modules
node_modules/*
!workflow/*
.snakemake
busco_downloads
.cache
results
dag.dot
.RepeatMaskerCache
slurm_logs
.quast